[Unit]
Description=Photon instance running as a Mesos slave
After=network-online.target,docker.service

[Service]
Restart=on-failure
RestartSec=10
TimeoutStartSec=0
ExecStartPre=/bin/rm -f /tmp/mesos/meta/slaves/latest
ExecStart=/bin/bash -c "/usr/local/sbin/mesos-slave --master=zk://172.16.96.12:2181,172.16.96.19:2181/mesos --work_dir=/mnt/mesos --ip=172.16.96.26 --hostname=172.16.96.26 --isolation=docker/runtime,filesystem/linux,cgroups/devices,linux/devices --containerizers=docker,mesos --executor_registration_timeout=5mins --image_providers=appc,docker --docker_store_dir=/mnt/mesos_tmp/store/docker --log_dir=/var/log/mesos --resource_estimator="org_apache_mesos_FixedResourceEstimator"  --qos_controller="org_apache_mesos_LoadQoSController" --oversubscribed_resources_interval=15secs --qos_correction_interval_min="20secs" --modules=file:///home/ubuntu/modules.json"


[Install]
WantedBy=multi-user.target
